.image {
  &-container {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    &--loading {
      // .spinner {
      //   position: absolute;
      //   top: 50%;
      //   width: 100%;
      //   transform: translateY(-50%);
      // }
    }
    // .kmt-triangle-exclamation-line {
    //   position: absolute;
    //   bottom: 0;
    // }
  }
  &-background {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-img {
    height: 100%;
    width: 100%;
  }
}